<% include ./partials/header %>
<h1>News Search</h1>
<form action="/results" method="GET">
<div class="search-box">
    <input class="search-txt" type="text" name="search" placeholder="Type-to-search">
    <button class="search-btn">
        <i class="fas fa-search"></i>
    </button>
</div>
</form>
<% include ./partials/footer %>
